USE [master]
GO
/****** Object:  Database [RehberDB]    Script Date: 29.04.2022 10:53:28 ******/
CREATE DATABASE [RehberDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RehberDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\RehberDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RehberDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\RehberDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RehberDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RehberDB]
GO
/****** Object:  Table [dbo].[Directory]    Script Date: 29.04.2022 10:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Directory](
	[directoryId] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NULL,
	[recordedUserId] [int] NULL,
 CONSTRAINT [PK_Directory] PRIMARY KEY CLUSTERED 
(
	[directoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhoneNumber]    Script Date: 29.04.2022 10:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhoneNumber](
	[phoneNumberId] [int] IDENTITY(1,1) NOT NULL,
	[phone] [nvarchar](50) NULL,
	[userId] [int] NULL,
 CONSTRAINT [PK_PhoneNumber] PRIMARY KEY CLUSTERED 
(
	[phoneNumberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 29.04.2022 10:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[userId] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[surname] [nvarchar](50) NULL,
	[organization] [nvarchar](max) NULL,
	[email] [nvarchar](50) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Directory] ON 

INSERT [dbo].[Directory] ([directoryId], [userId], [recordedUserId]) VALUES (1, 1, 2)
SET IDENTITY_INSERT [dbo].[Directory] OFF
SET IDENTITY_INSERT [dbo].[PhoneNumber] ON 

INSERT [dbo].[PhoneNumber] ([phoneNumberId], [phone], [userId]) VALUES (1, N'055366360188', 1)
INSERT [dbo].[PhoneNumber] ([phoneNumberId], [phone], [userId]) VALUES (2, N'234324', 2)
INSERT [dbo].[PhoneNumber] ([phoneNumberId], [phone], [userId]) VALUES (3, N'534534534534', 2)
SET IDENTITY_INSERT [dbo].[PhoneNumber] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([userId], [name], [surname], [organization], [email]) VALUES (1, N'Büşra Zeynep', N'Kara', N'Düzce', N'busra@mail.com')
INSERT [dbo].[User] ([userId], [name], [surname], [organization], [email]) VALUES (2, N'dsfsdf', N'sdsd', N'cvbbv', N'fccvb')
SET IDENTITY_INSERT [dbo].[User] OFF
ALTER TABLE [dbo].[Directory]  WITH CHECK ADD  CONSTRAINT [FK_Directory_User] FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([userId])
GO
ALTER TABLE [dbo].[Directory] CHECK CONSTRAINT [FK_Directory_User]
GO
ALTER TABLE [dbo].[Directory]  WITH CHECK ADD  CONSTRAINT [FK_Directory_User1] FOREIGN KEY([recordedUserId])
REFERENCES [dbo].[User] ([userId])
GO
ALTER TABLE [dbo].[Directory] CHECK CONSTRAINT [FK_Directory_User1]
GO
ALTER TABLE [dbo].[PhoneNumber]  WITH CHECK ADD  CONSTRAINT [FK_PhoneNumber_User] FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([userId])
GO
ALTER TABLE [dbo].[PhoneNumber] CHECK CONSTRAINT [FK_PhoneNumber_User]
GO
USE [master]
GO
